body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff8f0;
}

.header {
    text-align: center;
    color: #ffffff;
    margin-bottom: 30px;
    background-image: url(image.png);
}

.pizza-card {
    background-image: url(загруженное.jpg);
    border-radius: 10px;
    padding: 15px;
    margin: 15px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border: 2px solid #ff9f43;
}

.pizza-name {
    color: #e67e22;
    margin: 0;
}

.price {
    color: #27ae60;
    font-weight: bold;
    font-size: 1.2em;
}

.order-btn {
    background: #e67e22;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.order-btn:hover {
    background: #d35400;
}
.pizza-card p
{
  color: #ffffff;
  font-size: 25px;
}
.pizza-card h2
{
  color: #ffffff;
  font-size: 25px;
}